[Unit]
Description=Ethereum Virtual Machine daemon
After=syslog.target network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
# PIDFile=/var/run/go-evm.pid
Environment=BUILD_DIR=$BUILD_DIR
Environment=DATAL_DIR=/mnt/data
Environment=node=$NODE
Environment=node_addr=$NODE_ADDR
Environment=GOPATH=/home/ubuntu/go
WorkingDirectory=$BUILD_DIR
ExecStart=$BUILD_DIR/evm run --proxy=$NODE_ADDR:9000 --eth.genesis=/home/ubuntu/.evm/eth/genesis.json
# --pidfile /var/run/go-evm.pid
# ExecStop=pkill -SIGTERM -F /var/run/go-evm.pid
Restart=always

[Install]
WantedBy=multi-user.target
